In [6]:
import pandas as pd
import os

In [7]:
# # Set home directory
# import os
# home_dir = "F:/drive/MyDrive/Eskwelabs/Sprint 5 - Capstone/data"
# os.chdir(home_dir)

In [8]:
# read 1 csv

# df = pd.read_csv('F:/WESM_data/RTD_Generation_Offers/2021/202107/RTDOE_202106260100.csv')

In [9]:
# df

In [10]:
%%time
# Specify the IDs you're interested in
target_ids = ['01AMBUK_U01', '01AMBUK_U02', '01AMBUK_U03']

# Specify the base folder
base_folder = r'F:/WESM_data/RTD_Generation_Offers'

# Initialize an empty DataFrame to store the consolidated data
consolidated_df = pd.DataFrame()

# Loop through the overall folder, first year, and first month
for year_folder in os.listdir(base_folder):
    year_path = os.path.join(base_folder, year_folder)
    
    if os.path.isdir(year_path):
        for month_folder in os.listdir(year_path):
            month_path = os.path.join(year_path, month_folder)
            
            if os.path.isdir(month_path):
                # Initialize an empty DataFrame for the current month
                month_df = pd.DataFrame()

                # Loop through hourly CSV files in the current month
                for file_name in os.listdir(month_path):
                    if file_name.endswith('.csv'):
                        file_path = os.path.join(month_path, file_name)

                        # Read the CSV file
                        current_df = pd.read_csv(file_path)

                        # Filter rows with specific IDs
                        current_df = current_df[current_df['RESOURCE_NAME'].isin(target_ids)]

                        # Concatenate with the month DataFrame
                        month_df = pd.concat([month_df, current_df], ignore_index=True)

                # Concatenate with the overall DataFrame
                consolidated_df = pd.concat([consolidated_df, month_df], ignore_index=True)

# Display or further process the consolidated DataFrame
consolidated_df

CPU times: total: 3min 12s
Wall time: 5min 19s

,RUN_TIME,MKT_TYPE,REGION_NAME,ZONE_NAME,RESOURCE_NAME,TIME_INTERVAL,START_TIME,END_TIME,MP_NAME,PRICE1,...,RR_BREAK_QUANTITY3,RR_UP3,RR_DOWN3,RR_BREAK_QUANTITY4,RR_UP4,RR_DOWN4,RR_BREAK_QUANTITY5,RR_UP5,RR_DOWN5,Unnamed: 46
0,06/26/2021,RTD,CLUZ,NLUZON,01AMBUK_U01,06/26/2021 12:05:00 AM,06/26/2021,06/26/2021 12:05:00 AM,SNAPBENGT,-50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06/26/2021,RTD,CLUZ,NLUZON,01AMBUK_U02,06/26/2021 12:05:00 AM,06/26/2021,06/26/2021 12:05:00 AM,SNAPBENGT,-50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06/26/2021,RTD,CLUZ,NLUZON,01AMBUK_U03,06/26/2021 12:05:00 AM,06/26/2021,06/26/2021 12:05:00 AM,SNAPBENGT,-50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06/26/2021 12:05:00 AM,RTD,CLUZ,NLUZON,01AMBUK_U01,06/26/2021 12:10:00 AM,06/26/2021 12:05:00 AM,06/26/2021 12:10:00 AM,SNAPBENGT,-50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06/26/2021 12:05:00 AM,RTD,CLUZ,NLUZON,01AMBUK_U02,06/26/2021 12:10:00 AM,06/26/2021 12:05:00 AM,06/26/2021 12:10:00 AM,SNAPBENGT,-50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638050,09/25/2023 11:50:00 PM,RTD,CLUZ,NLUZON,01AMBUK_U02,09/25/2023 11:55:00 PM,09/25/2023 11:50:00 PM,09/25/2023 11:55:00 PM,SNAPBENGT,4218.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638051,09/25/2023 11:50:00 PM,RTD,CLUZ,NLUZON,01AMBUK_U03,09/25/2023 11:55:00 PM,09/25/2023 11:50:00 PM,09/25/2023 11:55:00 PM,SNAPBENGT,4213.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638052,09/25/2023 11:55:00 PM,RTD,CLUZ,NLUZON,01AMBUK_U01,09/26/2023,09/25/2023 11:55:00 PM,09/26/2023,SNAPBENGT,4223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638053,09/25/2023 11:55:00 PM,RTD,CLUZ,NLUZON,01AMBUK_U02,09/26/2023,09/25/2023 11:55:00 PM,09/26/2023,SNAPBENGT,4218.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638054,09/25/2023 11:55:00 PM,RTD,CLUZ,NLUZON,01AMBUK_U03,09/26/2023,09/25/2023 11:55:00 PM,09/26/2023,SNAPBENGT,4213.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Specify the output CSV file path
output_csv_path = r'F:\WESM_data\consolidated_data.csv'

# Export the consolidated DataFrame to a CSV file
consolidated_df.to_csv(output_csv_path, index=False)

print(f"Consolidated data has been exported to {output_csv_path}")

Consolidated data has been exported to F:\WESM_data\consolidated_data.csv