In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Load the data
df = pd.read_csv('E:\Documents\Google Drive\Eskwelabs\Sprint 5 - Capstone\data\DOE- Data Request- Sample Daily Data_GEN_2023924.csv')

C:\Users\Gaea\AppData\Local\Temp\ipykernel_35140\2088555812.py:1: DtypeWarning: Columns (9,14,66,69) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('E:\Documents\Google Drive\Eskwelabs\Sprint 5 - Capstone\data\DOE- Data Request- Sample Daily Data_GEN_2023924.csv')

In [4]:
df.head()

,time_interval,delivery_date,delivery_hour,resource_id,resource_name,trading_id,major_part_id_new,type_id,bid_type,nsch_type,...,opres_Dl_quantity2,opres_sched_price_Ru,opres_sched_price_Rd,opres_sched_price_Fr,opres_sched_price_Dr,energy_rtx,energy_rtx_price,energy_dipc_final,energy_dipc_final_price,pricing_condition_final
0,24/09/2023 0:05,24/09/2023 0:00,1,01BTSOLEN_BAT,BATAAN BATTERY,BSEI,AC,GEN,REG,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,28375.94067,OK
1,24/09/2023 0:05,24/09/2023 0:00,1,01CNCEP_BAT,CONCEPCION BATTERY,UPSI,SMC,GEN,REG,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,28208.52262,OK
2,24/09/2023 0:05,24/09/2023 0:00,1,01LAMAO_BAT,LAMAO BATTERY,UPSI,SMC,GEN,REG,NaN,...,NaN,12573.99818,0.0,NaN,NaN,NaN,NaN,0.0,26707.43536,OK
3,24/09/2023 0:05,24/09/2023 0:00,1,01LIMAY_BAT,LIMAY BATTERY,UPSI,SMC,GEN,REG,NaN,...,NaN,12573.99818,0.0,NaN,NaN,NaN,NaN,0.0,26781.21281,OK
4,24/09/2023 0:05,24/09/2023 0:00,1,01MAGAPIT_BAT,MAGAPIT BATTERY,UPSI,SMC,GEN,REG,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,28344.72714,OK

In [14]:
df_shape = df.shape
df_shape

(120672, 108)

Columns 9, 14, 66, and 69 have mixed dtypes
9    nsch_type                   object
14   Outage_Tag                  object
66   com_status                  object
69   marginal_plant              object

In [7]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120672 entries, 0 to 120671
Data columns (total 108 columns):
 #    Column                      Dtype
---   ------                      -----
 0    time_interval               object
 1    delivery_date               object
 2    delivery_hour               int64
 3    resource_id                 object
 4    resource_name               object
 5    trading_id                  object
 6    major_part_id_new           object
 7    type_id                     object
 8    bid_type                    object
 9    nsch_type                   object
 10   plant_type                  object
 11   region_id                   object
 12   zone_id                     object
 13   max_cap_rtd                 float64
 14   Outage_Tag                  object
 15   outage_capacity_rtd         float64
 16   rtd_price1                  float64
 17   rtd_quantity1               float64
 18   rtd_price2                  float64
 19   rtd_quantity2               float64
 20   rtd_price3                  float64
 21   rtd_quantity3               float64
 22   rtd_price4                  float64
 23   rtd_quantity4               float64
 24   rtd_price5                  float64
 25   rtd_quantity5               float64
 26   rtd_price6                  float64
 27   rtd_quantity6               float64
 28   rtd_price7                  float64
 29   rtd_quantity7               float64
 30   rtd_price8                  float64
 31   rtd_quantity8               float64
 32   rtd_price9                  float64
 33   rtd_quantity9               float64
 34   rtd_price10                 float64
 35   rtd_quantity10              float64
 36   rtd_price11                 float64
 37   rtd_quantity11              float64
 38   rtd_rr_break_quantity1      float64
 39   rtd_rr_up1                  float64
 40   rtd_rr_down1                float64
 41   rtd_rr_break_quantity2      float64
 42   rtd_rr_up2                  float64
 43   rtd_rr_down2                float64
 44   rtd_rr_break_quantity3      float64
 45   rtd_rr_up3                  float64
 46   rtd_rr_down3                float64
 47   rtd_rr_break_quantity4      float64
 48   rtd_rr_up4                  float64
 49   rtd_rr_down4                float64
 50   rtd_rr_break_quantity5      float64
 51   rtd_rr_up5                  float64
 52   rtd_rr_down5                float64
 53   max_offer_energy_rtd_price  float64
 54   max_offer_energy_rtd        float64
 55   nsch_loading_level          float64
 56   energy_rtd                  float64
 57   energy_rtd_price            float64
 58   pricing_condition           object
 59   year                        int64
 60   month                       object
 61   day                         object
 62   day_type                    object
 63   hour_type                   object
 64   billing_month               int64
 65   regis_status                float64
 66   com_status                  object
 67   energy_dipc                 float64
 68   energy_dipc_price           float64
 69   marginal_plant              object
 70   marginal_price              float64
 71   opres_max_offer_Ru          float64
 72   opres_max_offer_Rd          float64
 73   opres_max_offer_Fr          float64
 74   opres_max_offer_Dr          float64
 75   opres_sched_Ru              float64
 76   opres_sched_Rd              float64
 77   opres_sched_Fr              float64
 78   opres_sched_Dr              float64
 79   opres_Ru_price1             float64
 80   opres_Ru_quantity1          float64
 81   opres_Ru_price2             float64
 82   opres_Ru_quantity2          float64
 83   opres_Rd_price1             float64
 84   opres_Rd_quantity1          float64
 85   opres_Rd_price2             float64
 86   opres_Rd_quantity2          float64
 87   opres_Fr_price1             float64
 88   opres_Fr_quantity1          float64
 89   opres_Fr_price2             float64
 90   opres_Fr_quantity2          float64
 91   opres_Dr_price1             float64
 92   opres_Dr_quantity1          float64
 93   opres_Dr_price2             float64
 94   opres_Dr_quantity2          float64
 95   opres_Dl_price1             float64
 96   opres_Dl_quantity1          float64
 97   opres_Dl_price2             float64
 98   opres_Dl_quantity2          float64
 99   opres_sched_price_Ru        float64
 100  opres_sched_price_Rd        float64
 101  opres_sched_price_Fr        float64
 102  opres_sched_price_Dr        float64
 103  energy_rtx                  float64
 104  energy_rtx_price            float64
 105  energy_dipc_final           float64
 106  energy_dipc_final_price     float64
 107  pricing_condition_final     object
dtypes: float64(84), int64(3), object(21)
memory usage: 99.4+ MB

In [8]:
#determine why they contain unique values
unique_9 = pd.unique(df['nsch_type'])
unique_9

array([nan, 'NSCH', 'PRI', 'MUST'], dtype=object)

In [9]:
unique_14 = pd.unique(df['Outage_Tag'])
unique_14

array([nan, 'OUT'], dtype=object)

In [10]:
unique_66 = pd.unique(df['com_status'])
unique_66

array(['NOT', nan], dtype=object)

In [11]:
unique_69 = pd.unique(df['marginal_plant'])
unique_69

array([nan, 'Y'], dtype=object)

In [15]:
#transform nan datatype into empty string
df['nsch_type'] = df['nsch_type'].fillna('').astype(str)
df['Outage_Tag'] = df['Outage_Tag'].fillna('').astype(str)
df['com_status'] = df['com_status'].fillna('').astype(str)
df['marginal_plant'] = df['marginal_plant'].fillna('').astype(str)

In [17]:
#check for outliers in the data
pd.set_option('display.max_columns', None)  # Display all columns
df.describe()

,delivery_hour,max_cap_rtd,outage_capacity_rtd,rtd_price1,rtd_quantity1,rtd_price2,rtd_quantity2,rtd_price3,rtd_quantity3,rtd_price4,rtd_quantity4,rtd_price5,rtd_quantity5,rtd_price6,rtd_quantity6,rtd_price7,rtd_quantity7,rtd_price8,rtd_quantity8,rtd_price9,rtd_quantity9,rtd_price10,rtd_quantity10,rtd_price11,rtd_quantity11,rtd_rr_break_quantity1,rtd_rr_up1,rtd_rr_down1,rtd_rr_break_quantity2,rtd_rr_up2,rtd_rr_down2,rtd_rr_break_quantity3,rtd_rr_up3,rtd_rr_down3,rtd_rr_break_quantity4,rtd_rr_up4,rtd_rr_down4,rtd_rr_break_quantity5,rtd_rr_up5,rtd_rr_down5,max_offer_energy_rtd_price,max_offer_energy_rtd,nsch_loading_level,energy_rtd,energy_rtd_price,year,billing_month,regis_status,energy_dipc,energy_dipc_price,marginal_price,opres_max_offer_Ru,opres_max_offer_Rd,opres_max_offer_Fr,opres_max_offer_Dr,opres_sched_Ru,opres_sched_Rd,opres_sched_Fr,opres_sched_Dr,opres_Ru_price1,opres_Ru_quantity1,opres_Ru_price2,opres_Ru_quantity2,opres_Rd_price1,opres_Rd_quantity1,opres_Rd_price2,opres_Rd_quantity2,opres_Fr_price1,opres_Fr_quantity1,opres_Fr_price2,opres_Fr_quantity2,opres_Dr_price1,opres_Dr_quantity1,opres_Dr_price2,opres_Dr_quantity2,opres_Dl_price1,opres_Dl_quantity1,opres_Dl_price2,opres_Dl_quantity2,opres_sched_price_Ru,opres_sched_price_Rd,opres_sched_price_Fr,opres_sched_price_Dr,energy_rtx,energy_rtx_price,energy_dipc_final,energy_dipc_final_price
count,120672.000000,120672.000000,7582.000000,62197.000000,62197.000000,62197.000000,62197.000000,29164.000000,29164.000000,15492.000000,15492.000000,6941.000000,6941.000000,4259.000000,4259.000000,3556.000000,3556.000000,3460.000000,3460.000000,2138.000000,2138.000000,1152.000000,1152.000000,0.0,0.0,62197.000000,62197.000000,62197.000000,25639.000000,25639.000000,25639.000000,12764.000000,12764.000000,12764.000000,0.0,0.0,0.0,0.0,0.0,0.0,62197.000000,62197.000000,38410.000000,120672.000000,120672.000000,120672.0,120672.0,0.0,120672.000000,120672.000000,913.000000,3864.000000,3864.000000,2472.000000,7434.000000,4320.000000,4320.000000,3673.000000,8621.000000,3864.0,3864.0,3864.0,3864.000000,3864.0,3864.0,3864.0,3864.000000,2472.0,2472.0,2472.0,2472.000000,7434.0,7434.0,7434.0,7434.000000,0.0,0.0,0.0,0.0,4320.000000,4320.000000,3673.000000,8621.000000,1676.000000,1676.000000,120672.000000,120672.000000
mean,12.500000,63.253461,132.336956,12154.107862,-0.783896,12154.107862,42.750840,9117.087533,99.871571,13425.123170,111.314246,6052.017405,188.150944,7318.447222,200.311458,7335.534443,235.810461,8349.961237,260.097341,5532.131469,303.779701,5375.290000,391.725000,NaN,NaN,55.892151,93.081316,91.973245,98.549163,2.347377,1.636125,162.449029,1.577343,2.012943,NaN,NaN,NaN,NaN,NaN,NaN,19437.093913,75.546731,7.847412,28.561045,5602.494005,2023.0,207.0,NaN,28.561045,5602.494005,6208.126412,17.552484,17.552484,34.912621,13.225020,15.432371,15.431389,23.496869,11.341246,0.0,0.0,0.0,17.552484,0.0,0.0,0.0,17.552484,0.0,0.0,0.0,34.912621,0.0,0.0,0.0,13.225020,NaN,NaN,NaN,NaN,2237.662794,12193.128876,332.984440,1654.513483,31.054970,22920.567038,28.561045,5581.472013
std,6.922215,106.245409,146.474776,18308.400245,5.439502,18308.400245,64.896571,13478.687784,117.942569,12904.295519,93.335277,7434.987626,121.084155,8172.646403,135.459002,7463.564602,152.499839,8163.005846,167.964665,1928.269498,201.158616,2646.673628,242.068466,NaN,NaN,84.277018,653.821698,653.984922,141.642463,4.072364,1.503744,187.706553,1.808771,1.699441,NaN,NaN,NaN,NaN,NaN,NaN,14036.517716,116.415603,40.175884,76.828809,4949.154838,0.0,0.0,NaN,76.828813,4949.154838,8649.058228,15.555685,15.555685,29.208617,12.579319,15.725439,15.740552,29.024360,12.552085,0.0,0.0,0.0,15.555685,0.0,0.0,0.0,15.555685,0.0,0.0,0.0,29.208617,0.0,0.0,0.0,12.579319,NaN,NaN,NaN,NaN,6033.474960,12673.353120,2047.931027,2926.708735,81.177558,9038.452251,76.828813,4844.320764
min,1.000000,0.300000,2.000000,-10000.000000,-50.000000,-10000.000000,0.000000,-9999.000000,2.000000,-9998.000000,3.000000,-9997.000000,4.000000,2177.000000,6.000000,2180.000000,7.000000,2204.000000,8.000000,2238.000000,10.000000,2283.000000,149.900000,NaN,NaN,1.000000,0.100000,0.100000,3.400000,0.100000,0.300000,5.500000,0.100000,0.300000,NaN,NaN,NaN,NaN,NaN,NaN,-10000.000000,1.000000,-158.000000,-158.000000,0.000000,2023.0,207.0,NaN,-158.000000,0.000000,0.000000,1.000000,1.000000,3.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,3.000000,0.0,0.0,0.0,4.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-158.000000,5775.922868,-158.000000,0.000000
25%,6.750000,7.800000,30.000000,-10000.000000,0.000000,-10000.000000,6.500000,0.000000,26.500000,4150.080000,55.000000,3070.000000,100.000000,3183.000000,110.000000,5000.000000,120.000000,5512.600000,130.000000,3155.000000,140.000000,2984.250000,149.975000,NaN,NaN,7.000000,0.500000,0.400000,13.000000,0.700000,1.000000,52.700000,0.300000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,4710.000000,10.100000,0.000000,0.000000,3359.986000,2023.0,207.0,NaN,0.000000,3359.986004,0.000800,5.000000,5.000000,10.000000,5.000000,4.022222,4.022222,0.000000,4.200000,0.0,0.0,0.0,5.000000,0.0,0.0,0.0,5.000000,0.0,0.0,0.0,10.000000,0.0,0.0,0.0,5.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000461,0.000000,20549.279462,0.000000,3359.986004
50%,12.500000,20.000000,116.000000,12000.000000,0.000000,12000.000000,15.100000,3330.000000,50.000000,6000.090000,83.700000,4512.400000,150.000000,5040.900000,120.000000,5759.300000,135.000000,6000.000000,151.300000,5900.000000,315.000000,5609.040000,385.000000,NaN,NaN,20.000000,1.000000,1.000000,40.000000,1.000000,1.000000,70.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,25000.000000,34.900000,1.800000,0.000000,4953.020300,2023.0,207.0,NaN,0.000000,4953.020346,3544.420000,17.250000,17.250000,26.000000,10.000000,5.780829,5.780829,12.000000,7.000000,0.0,0.0,0.0,17.250000,0.0,0.0,0.0,17.250000,0.0,0.0,0.0,26.000000,0.0,0.0,0.0,10.000000,NaN,NaN,NaN,NaN,0.000000,5906.608084,0.000400,0.000525,0.809575,26670.622830,0.000000,4953.020346
75%,18.250000,70.000000,151.400000,32000.000000,0.000000,32000.000000,50.000000,24700.000000,138.000000,25000.000000,120.000000,5896.000000,316.000000,6500.080000,280.000000,6904.000000,300.000000,7400.080000,330.000000,7800.080000,600.000000,8000.080000,626.750000,NaN,NaN,55.000000,5.000000,2.700000,103.000000,2.500000,2.000000,151.000000,2.700000,2.700000,NaN,NaN,NaN,NaN,NaN,NaN,32000.000000,86.000000,9.000000,18.500000,5707.089700,2023.0,207.0,NaN,18.500000,5707.089729,5261.400000,20.000000,20.000000,30.000000,12.000000,20.000000,20.000000,30.000000,11.000000,0.0,0.0,0.0,20.000000,0.0,0.0,0.0,20.000000,0.0,0.0,0.0,30.000000,0.0,0.0,0.0,12.000000,NaN,NaN,NaN,NaN,0.000000,26314.600960,0.000462,3653.014055,19.625000,28201.527570,18.500000,5707.089729
max,24.000000,668.000000,668.000000,32000.000000,0.000000,32000.000000,575.000000,32000.000000,668.000000,32000.000000,408.600000,32000.000000,400.000000,32000.000000,450.000000,31999.000000,500.000000,32000.000000,550.000000,7950.080000,600.000000,8000.080000,647.000000,NaN,NaN,510.000000,6366.400000,6366.400000,668.000000,42.000000,9.000000,668.000000,10.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,32000.000000,668.000000,324.000000,668.000000,45796.102700,2023.0,207.0,NaN,668.000000,45796.102750,32000.005300,50.000000,50.000000,86.000000,46.000000,50.000000,50.000000,86.000000,46.000000,0.0,0.0,0.0,50.000000,0.0,0.0,0.0,50.000000,0.0,0.0,0.0,86.000000,0.0,0.0,0.0,46.000000,NaN,NaN,NaN,NaN,41465.310770,32000.001060,22120.497810,32111.129320,668.000000,42035.199750,668.000000,42035.199750

In [22]:
# Check if 5-minute timestamps equal to 288 for this 24-hour dataset
timestamp_counts = df['time_interval'].value_counts()
print(timestamp_counts)

# Count the number of unique timestamps
num_unique_timestamps = len(df['time_interval'].unique())
print(f"\nNumber of unique timestamps: {num_unique_timestamps}")

time_interval
24/09/2023 0:05     419
24/09/2023 0:10     419
24/09/2023 16:25    419
24/09/2023 16:20    419
24/09/2023 16:15    419
                   ...
24/09/2023 8:00     419
24/09/2023 7:55     419
24/09/2023 7:50     419
24/09/2023 7:45     419
25/09/2023 0:00     419
Name: count, Length: 288, dtype: int64

Number of unique timestamps: 288